# Cleaning/Collection JSON Files from Kaggle

In [29]:
import requests
import pandas as pd
import json
import time
from pandas.io.json import json_normalize
# time.sleep(0.1)

In [30]:
revs = []
for line in open('yelp_reviews.json', 'r'):
    revs.append(json.loads(line))

In [32]:
bus = []
for line in open('yelp_training_set_business.json', 'r'):
    bus.append(json.loads(line))

In [33]:
reviews = json_normalize(revs)
reviews = reviews.drop(["date","user_id"],axis=1)

In [1]:
# parse through JSON file from kaggle line by linne onto a dataframe

In [34]:
bus = json_normalize(bus)

In [35]:
bus = bus.drop(["full_address","latitude","longitude","name","neighborhoods","open","type","city","state"],axis=1)

In [36]:
bus = bus.rename(index=str, columns={"stars": "rest_rating"})

In [38]:
reviews.head()

,business_id,review_id,rating,text,votes.cool,votes.funny,votes.useful
0,9yKzy9PApeiPPOUJEtnvkg,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,2,0,5
1,ZRJwVLyzEJq1VAihDhYiow,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,0,0,1
3,_1QQZuf4zZOyFCvXc0o6Vg,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",1,0,2
4,6ozycU1RpktNG2-1BroVtw,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,0,0,0

In [37]:
reviews = reviews.drop("type",axis=1)
reviews = reviews.rename(index=str, columns={"stars": "rating"})

In [41]:
bus.categories= bus.categories.apply(lambda x: ','.join(x))

In [2]:
# clean up "categories" column (not binarized), put commas between each "yelp business type" for easy parsing

In [43]:
all_reviews = reviews.merge(bus,on="business_id",how="left")

In [3]:
# merge on bus id, left merge to retain all reviews

In [45]:
all_reviews.to_csv("full_reviews.csv")